<!DOCTYPE html>
{% load staticfiles %}
{% load compile_static %}
{% load bootstrap3 %}
<html lang="fr">
<head>
  <meta charset='utf-8'/>
  <base href="/">
  <title>{% block title %}Learn & Play{% endblock title %}</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  {% block css %}
  {% bootstrap_css %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'backoffice/css/adminLTE/AdminLTE.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'backoffice/css/adminLTE/skins/skin-green.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'backoffice/css/angular-chartjs/angular-chart.css' %}">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}{% compile 'backoffice/css/base.less' %}" />
  {% endblock css %}
  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>
  <script src="{% static 'backoffice/js/angular-chartjs/Chart.min.js' %}"></script>
  <script src="{% static 'backoffice/js/angular-chartjs/angular-chart.js' %}"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.js"></script>
  <script src="{% static 'backoffice/js/tv4/tv4.min.js' %}"></script>
  <script src="{% static 'backoffice/js/ObjectPath/ObjectPath.js' %}"></script>
  <script src="{% static 'backoffice/js/angular-schema-form/schema-form.min.js' %}"></script>
  <script src="{% static 'backoffice/js/angular-schema-form/bootstrap-decorator.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backoffice/js/controllers.js' %}"></script>
  {% bootstrap_javascript %}
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% endblock js %}
</head>

<body class="skin-green" ng-app="backofficeApp">

  {% block page-content %}{% endblock page-content %}

  <script>
    {% block script %}{% endblock script %}
  </script>
  <script src="{% static 'backoffice/js/adminLTE/app.js' %}" type="text/javascript"></script>

</body>

</html>
