{% extends "backoffice/layout.html" %}
{% load bootstrap3 %}


{% block title %}Administrateurs de la classe{% endblock title %}

{% block navbar_my_classes %}active{% endblock navbar_my_classes %}

{% block content %}
<div ng-controller="AdministratorsCtrl" ng-init="init({{school_class.id}})">
  <div class="alert alert-danger alert-dismissible" role="alert" ng-show='alertError'>
    <button type="button" class="close" ng-click="alertError=false"><span aria-hidden="true">&times;</span></button>
    {%verbatim%}{{administratorAlertError}}{%endverbatim%}
  </div>

  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  Confirmer la suppression
              </div>
              <div class="modal-body">
                  <p>Vous êtes sur le point de supprimer l'administrateur <strong ng-init="userData.administratorToRemove='';">{%verbatim%}{{userData.administratorToRemove.username}}{%endverbatim%}</strong> de la classe <strong>{{school_class.name}}</strong>.</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                  <button id="confirm-delete-modal" type="button" class="btn btn-danger" ng-click="removeAdministrator(userData.administratorToRemove);">Supprimer</button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="cannot-delete" tabindex="-1" role="dialog" aria-labelledby="error-modal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                Erreur
              </div>
              <div class="modal-body">
                <p><strong>Impossible de supprimer l'administrateur</strong> : Au moins 1 administrateur doit être assigné à une classe.</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <input class="form-control" type="text" ng-model="userData.administratorToAdd"/>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" ng-click="addAdministrator(userData.administratorToAdd)">Ajouter</button>
    </div>
  </div>

  <table class="table table-striped">
      <thead>
          <tr>
              <th data-field="name">Nom</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="administrator in administrators">
            <td>{%verbatim%}{{administrator.username}}{%endverbatim%}</td>
            <td>
                <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="{% verbatim %}{{administrators.length == 1 ? '#cannot-delete' : '#confirm-delete'}}{% endverbatim %}" ng-click="userData.administratorToRemove = administrator;">Supprimer</button>
            </td>
        </tr>
      </tbody>
  </table>
</div>
{% endblock content %}

{% block script %}
  $("#confirm-delete-modal").on('click', function() {
     $("#confirm-delete").modal("hide");
  });
{% endblock script %}