{% extends "backoffice/layout.html" %}
{% load bootstrap3 %}

{% block title %}toto{% endblock title %}

{% block navbar_administration %}active{% endblock navbar_administration %}

{% block content %}
<form role="form" id="class_form" method="post" action="{% if school_class %}{% url 'backoffice:edit_class' id=school_class.id %}{% else %}{% url 'backoffice:create_class' %}{% endif %}">
  {% csrf_token %}
  <div class="form-group">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
	{% bootstrap_form class_form %}
      </div>
    </div>
  </div>
  {% buttons %}
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <button type="submit" name="submit" class="btn btn-primary">{% if school_class %}Sauvegarder les modifications{% else %}Créer la classe{% endif %}</button>
    </div>
    {% endbuttons %}
</form>
{% endblock content %}
