{% extends "backoffice/base.html" %}

{% block page-content %}
<div class="wrapper">
  <header class="main-header">
    <a href="/" class="logo">Learn & Play</a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ user.LPUser.avatar.url }}" class="user-image" alt="User Image"/>
              <span class="hidden-xs">{{ user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="{{ user.LPUser.avatar.url }}" class="img-circle" alt="User Image" />
                <p>{{ user.username }}</p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{% url 'backoffice:index' %}" class="btn btn-default btn-flat">Profil</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'backoffice:logout' %}" class="btn btn-default btn-flat">Déconnexion</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">GÉNÉRAL</li>
        <li class="{% block navbar_home %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Accueil</span></a></li>
        <li class="header">ADMINISTRATION</li>
        <li class="{% block navbar_my_classes %}{% endblock %}"><a href="{% url 'backoffice:my_classes' %}"><span>Mes classes</span></a></li>
        <li class="{% block navbar_my_students %}{% endblock %}"><a href="{% url 'backoffice:my_students_default' %}"><span>Mes élèves</span></a></li>
        <li class="header">STATISTIQUES</li>
        <li class="{% block navbar_stats1 %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Menu 1</span></a></li>
        <li class="{% block navbar_stats2 %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Menu 2</span></a></li>
        <li class="{% block navbar_stats3 %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Menu 3</span></a></li>
        <li class="header">PERSONNALISATION</li>
        <li class="{% block navbar_pers1 %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Menu 1</span></a></li>
        <li class="{% block navbar_pers2 %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Menu 2</span></a></li>
        <li class="{% block navbar_pers3 %}{% endblock %}"><a href="{% url 'backoffice:index' %}"><span>Menu 3</span></a></li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
    </section>
    <section class="content">
      {% block content %}{% endblock content %}
    </section>
  </div>

  <footer class="main-footer">
    <strong>Copyright &copy; 2015 <a href="/">Learn & Play</a>.</strong> All rights reserved.
  </footer>
</div>
{% endblock page-content %}
