{% extends "backoffice/base.html" %}
{% load bootstrap3 %}

{% block title %}Connexion{% endblock title %}

{% block page-content %}
<h1 class="row">
  <div class="col-lg-offset-3 col-lg-6">
    Formulaire de connexion
  </div>
</h1>
<form role="form" id="login_form" method="post" action="/backoffice/login/">
  {% csrf_token %}
  <div class="form-group">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
	{% bootstrap_form login_form %}
      </div>
    </div>
  </div>
  {% buttons %}
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <button type="submit" name="submit" class="btn btn-primary">Connexion</button>
    </div>
    {% endbuttons %}
</form>
<div class="row" style="padding-top:2em;">
  <div class="col-lg-offset-3 col-lg-6">
    <a href="{% url 'backoffice:register' %}">Créer un compte</a>
  </div>
</div>
{% endblock page-content %}
