{% extends "backoffice/base.html" %}
{% load bootstrap3 %}

{% block title %}Connexion{% endblock title %}

{% block content %}
<h1>
  Formulaire de connexion
</h1>
<form role="form" id="login_form" method="post" action="/backoffice/login/">
  {% csrf_token %}
  <div class="form-group">
    {% bootstrap_form login_form %}
  </div>
  {% buttons %}
  <button type="submit" name="submit" class="btn btn-primary">Connexion</button>
  {% endbuttons %}
</form>
<a href="{% url 'backoffice:register' %}">Créer un compte</a>
{% endblock content %}
