{% extends "backoffice/layout.html" %}
{% load bootstrap3 %}

{% block title %}Mes classes{% endblock title %}

{% block navbar_my_classes %}active{% endblock navbar_my_classes %}

{% block content %}
<div ng-controller="ClassesListCtrl">

    <div class="alert alert-danger alert-dismissible" role="alert" ng-show='alertError'>
        <button type="button" class="close" ng-click="alertError=false"><span aria-hidden="true">&times;</span></button>
        {%verbatim%}{{schoolClassAlertError}}{%endverbatim%}
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirmer la suppression
                </div>
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimer la classe <strong ng-init="userData.schoolClassToDelete='';">{%verbatim%}{{userData.schoolClassToDelete.name}}{%endverbatim%}</strong>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button id="confirm-delete-modal" type="button" class="btn btn-danger" ng-click="deleteSchoolClass(userData.schoolClassToDelete);">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
	<table class="table table-striped" ng-show="classes.length!=0">
    	<thead>
        	<tr>
                <th data-field="id">Identifiant</th>
            	<th data-field="name">Classe</th>
            	<th data-field="school">Etablissement</th>
            	<th>Actions</th>
        	</tr>
    	</thead>
    	<tbody>
			<tr ng-repeat="class in classes">
                <td>{%verbatim%}{{class.id}}{%endverbatim%}</td>
				<td>{%verbatim%}{{class.name}}{%endverbatim%}</td>
				<td>{%verbatim%}{{class.school_name}}{%endverbatim%}</td>
				<td>
					<a href="{%verbatim%}{{class.edit_url}}{%endverbatim%}" class="btn btn-xs btn-primary">Editer</a>&nbsp;&nbsp;
					<a href="{%verbatim%}{{class.administrators_url}}{%endverbatim%}" class="btn btn-xs btn-primary">Administrateurs</a>&nbsp;&nbsp;
					<button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#confirm-delete" ng-click="userData.schoolClassToDelete = class;">Supprimer</button>
				</td>
			</tr>
		</tbody>
	</table>
    <div class="alert alert-danger" role="alert" ng-show="classes.length==0">Votre compte n'est pas encore associé à une classe</div>
</div>

<a class="btn btn-primary" href="{% url 'backoffice:create_class' %}">{% bootstrap_icon "plus" %} Créer une classe</a>
{% endblock content %}

{% block script %}
$("#confirm-delete-modal").on('click', function() {
   $("#confirm-delete").modal("hide");
});
{% endblock script %}