{% extends "backoffice/layout.html" %}
{% load bootstrap3 %}


{% block title %}Mes élèves{% endblock title %}

{% block navbar_administration %}active{% endblock navbar_administration %}

{% block content %}
<div ng-controller="StudentsListCtrl">
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirmer la suppression
                </div>
                <div class="modal-body">
                    <p>Vous êtes sur le point de supprimer l'élève <strong ng-init="userData.studentToDelete='';">{%verbatim%}{{userData.studentToDelete.username}}{%endverbatim%}</strong>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button id="confirm-delete-modal" type="button" class="btn btn-danger" ng-click="deleteStudent(userData.studentToDelete);">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="classes.length!=0">
        <select class="form-control"
                ng-model="selectedSchoolClass"
                ng-options="(class.name + ' - ' + class.school_name) for class in classes"
                ng-change="changeSelectedSchoolClass()">
        </select>

        <table class="table table-striped" ng-show="students.length!=0">
            <thead>
                <tr>
                    <th data-field="name">Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="student in students">
                        <td>{%verbatim%}{{student.username}}{%endverbatim%}</td>
                        <td>
                            <a href="{%verbatim%}{{student.edit_url}}{%endverbatim%}" class="btn btn-xs btn-primary">Editer</a>&nbsp;&nbsp;
                            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#confirm-delete" ng-click="userData.studentToDelete = student;">Supprimer</button>
                        </td>
                    </tr>
            </tbody>
        </table>
        <br ng-show="students.length==0"/>
        <div class="alert alert-danger" role="alert" ng-show="students.length==0">Cette classe ne contient pas encore d'élèves</div>
        <a href="{%verbatim%}{{selectedSchoolClass.create_student_url}}{%endverbatim%}" class="btn btn-primary">Ajouter un élève</a>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="classes.length==0">Votre compte n'est pas encore associé à une classe. <a href="{% url 'backoffice:create_class' %}">Créer une classe</a></div>
</div>
{% endblock content %}

{% block script %}
$("#confirm-delete-modal").on('click', function() {
   $("#confirm-delete").modal("hide");
});
{% endblock script %}