{% extends "backoffice/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'backoffice/js/register_form_validation.js' %}"></script>
{% endblock js %}

{% block title %}Création de compte{% endblock title %}

{% block page-content %}
<h1>
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      Création de compte
    </div>
  </div>
</h1>
{% if registered %}
Vous êtes enregistré. <a href="{% url 'backoffice:login' %}">Se connecter</a>
{% else %}
<form id="user-form" method="post" action="/backoffice/register/">
  {% csrf_token %}
  <div class="form-group">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
	{% bootstrap_form registration_form %}
      </div>
    </div>
  </div>
  {% buttons %}
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <button id="submit-button" type="submit" name="submit" class="btn btn-primary">Créer le compte</button>
    </div>
  </div>
  {% endbuttons %}
</form>
<div class="row" style="padding-top:2em;">
  <div class="col-lg-offset-3 col-lg-6">
    <a href="{% url 'backoffice:login' %}">Se connecter</a>
  </div>
</div>
{% endif %}
{% endblock page-content %}
