{% extends "backoffice/layout.html" %}
{% load bootstrap3 %}


{% block title %}Statistiques{% endblock title %}

{% block navbar_statistics %}active{% endblock navbar_statistics %}

{% block content %}
<div ng-controller="StatisticsCtrl">

  <div class="alert alert-danger alert-dismissible" role="alert" ng-show='alertError'>
      <button type="button" class="close" ng-click="alertError=false"><span aria-hidden="true">&times;</span></button>
      {%verbatim%}{{alertErrorMessage}}{%endverbatim%}
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <select class="form-control"
        ng-model="selectedSchoolClass"
        ng-options="(class.name + ' - ' + class.school_name) for class in classes"
        ng-change="changeSelectedSchoolClass()">
      </select>
    </div>
    <div class="col-xs-6 col-sm-3">
      <select class="form-control"
        ng-model="selectedStudent"
        ng-options="student.username for student in students">
        <option value="" ng-selected="selected">Tous les élèves</option>
      </select>
    </div>
    <div class="col-xs-6 col-sm-3">
      <select class="form-control"
        ng-model="selectedStatisticsType"
        ng-options="statisticsType.name for statisticsType in statisticsTypes">
      </select>
    </div>
    <div class="col-xs-6 col-sm-3">
      <button class="btn btn-primary" ng-click="getStatistics()">Voir les statistiques</button>
    </div>
  </div>

  <div class="stat-container">
    <div class="alert alert-danger" role="alert" ng-show='noStatToDisplay'>
        Pas de statistiques a afficher
    </div>
    <canvas ng-if="loadedStatisticsType.type == 'stats_solo_multi'" id="pie" class="chart chart-pie" data="prepared_data" labels="labels" legend="true" colours="colours_stats_solo_multi" options="options_stats_solo_multi"></canvas>

    <canvas ng-if="loadedStatisticsType.type == 'stats_time_subject' && prepared_data[0].length > 2" id="radar" class="chart chart-radar" data="prepared_data" labels="labels" colours="colours_stats_time_subject" options="options_stats_time_subject"></canvas>
    <canvas ng-if="loadedStatisticsType.type == 'stats_time_subject' && prepared_data.length < 3" id="pie" class="chart chart-pie" data="prepared_data" labels="labels" legend="true" colours="colours_stats_time_subject" options="options_stats_time_subject"></canvas>

    <canvas ng-if="loadedStatisticsType.type == 'stats_success_fail'" id="pie" class="chart chart-pie" data="prepared_data" labels="labels" legend="true" colours="colours_stats_success_fail" options="options_stats_success_fail"></canvas>
  </div>
</div>
{% endblock content %}
