{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset='utf-8'/>
    <title>Learn & Play</title>

    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/website.css' %}" />
  </head>
  
  <body>
    <div id="section-container">
      <div class="section">
	<a href="{% url 'backoffice:backoffice-index' %}" class="backoffice-link">Accéder au backoffice</a>
	<div class="container">
	  <div class="col-lg-12 display-box">
	    <h1 id="lp_title">Learn & Play</h1>
	    <h2 id="lp_under_title">Jeu éducatif multijoueur</h2>
	    <img alt="" src="http://placehold.it/900x506" class="centered-image"></img>
	  </div>
	</div>
      </div>
      <div class="section">
	<div class="container">
	  <div class="col-lg-12 display-box">
	    <h2>Le projet</h2>
	    <img class="col-lg-6 content-padding-top" alt="" src="http://placehold.it/900x706"/img>
	    <p class="col-lg-6 content-padding-top" id="app-description">
	      Learn&Play est un jeu éducatif pour tablettes tactiles destiné à une utilisation en classe de primaire. L’enfant sera plongé dans un monde ouvert dans lequel il fera évoluer son avatar.  Les enfants pourront interagir entre eux pendant les mini-jeux, et l’integralité de l’application sera paramétrable par l’enseignant.
	    </p>
	  </div>
	</div>
      </div>
      <div class="section">
	<div class="container">
	  <div class="col-lg-12 display-box">
	    <h2>L'équipe</h2>
	    <div class="col-lg-12" id="st-team-line">
	      <img class="col-lg-2 equipe-portrait" alt="Ludovic Post" src="{% static 'website/image/post_l.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Ludovic Post</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	      <img class="col-lg-2 equipe-portrait" alt="Romain Zanchi" src="{% static 'website/image/zanchi_r.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Romain Zanchi</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	      <img class="col-lg-2 equipe-portrait" alt="Anthony Lingua" src="{% static 'website/image/lingua_a.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Anthony Lingua</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	    </div>
	    <div class="col-lg-12" id="nd-team-line">
	      <img class="col-lg-offset-2 col-lg-2 equipe-portrait" alt="Laeticia Lourenco" src="{% static 'website/image/louren_l.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Laeticia Lourenco</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	      <img class="col-lg-2 equipe-portrait" alt="Tom Rossi" src="{% static 'website/image/rossi_t.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Tom Rossi</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	    </div>
	    <div class="col-lg-12" id="rd-team-line">
	      <img class="col-lg-2 equipe-portrait" alt="Lambert Teisserenc-Bonesteve" src="{% static 'website/image/teisse_l.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Lambert Teisserenc-Bonesteve</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	      <img class="col-lg-2 equipe-portrait" alt="Benjamin Farcy" src="{% static 'website/image/farcy_b.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Benjamin Farcy</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	      <img class="col-lg-2 equipe-portrait" alt="Romain Calascibetta" src="{% static 'website/image/calasc_r.jpg' %}"/>
	      <div class="col-lg-2">
		<span style="font-weight: 700; font-size:3em;" class="dev-name">Romain Calascibetta</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="section">
	<div class="display-box">
	  <h2>Les partenaires</h2>
	</div>
      </div>
    </div>
  </body>
</html>
